{
    "arrowParens": "avoid",
    "trailingComma": "es5",
    "singleQuote": true,
    "semi": true,
    "useTabs": false,
    "importOrder": [
      "^react",
      "<THIRD_PARTY_MODULES>",
      "^package.json$",
      "^(?!src)(.*)\\.css$",
      "^src/styles/(.*)\\.css$",
      "^@[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "endOfLine": "auto",
    "printWidth": 80,
    "overrides": [
      {
        "files": ["*.json", "*.md", "*.scss", "*.yml", "*.yaml"],
        "options": {
          "singleQuote": false
        }
      },
      {
        "files": ["*.ts", "*.tsx"],
        "options": {
          "arrowParens": "always"
        }
      }
    ]
  }
  